body {
  background : pink;
}

h1 {
  color: blue;
  font-size: 3rem; 
}

h2 {
  color: green;
  font-weight: normal;
  font-style: italic;
}

.completed {
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

#tasks .completed {
  background-color: #ccc;
  text-decoration: underline;
}