*{
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}

body{
    
    background-image: url("https://media.gettyimages.com/videos/tilt-down-blur-restaurant-for-background-video-id1273433362?s=640x640");
   background-size: 100%;
   display: flex;
    justify-content: center;
    align-items: center;
}
.sign{
    background-color: rgb(102, 71, 71);
    width: 60%;
    height: 40%;
}
.sign input{
   width: 50%;
   height: 20px;
}

.sign label{
    margin-bottom: 10px;
    color: white;
}
